{% extends "base.html" %}
{% block content %}

<div class='centered'>
    <h1>County Data for {{county}}, {{state}}</h1>
    <br />
    <br />
</div>
{% if date_data|length == 0 %}
<h2>You need to input a valid date, or select it using the selector <a href='/county'>here</a>.</h2>
{% else %}
<table class='center'>
    <tr>
        {% for i in range(order|length) %}
        {% if order[i] in date_data.keys() %}
        <th>
            {{names[i]}}
        </th>
        {% endif %}
        {% endfor %}
    </tr>

    <tr>
        {% for i in range(order|length) %}
        {% if order[i] in date_data.keys() %}
        <th>
            {{date_data[order[i]]}}
        </th>
        {% endif %}
        {% endfor %}
    </tr>
</table>
<br />
<br />
{{graph_div | safe}}
{% endif %}
{% endblock content %}